*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    
}

.listContainer{
    width: 100%;
    min-height: 100vh;

    overflow: hidden;
    display: grid;
    align-items: center;
    padding: 30px;
    background: #3d2c6d;
}

.principal{
    width: 100%;
    height: 800px;
    background: #3d2c6d;
}
.listaCanciones{
    width: 100%;
    height: 500px;
    border-radius: 50px;
    background: #3d2c6d;
    box-shadow:  20px 20px 60px #34255d,
                 -20px -20px 60px #46337d;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.canc{
    padding: 10px 30px;
    border-radius: 50px;
    background: #3d2c6d;
    box-shadow:  20px 20px 60px #34255d,
                 -20px -20px 60px #46337d;
    font-weight: 100;
    color: rgb(194, 177, 177);
}

.botones{
    width: 100%;
    height: 200px;
    text-align: center;
    line-height: 200px;
}

.volver{
    width: 40px;
    height: 40px;
    padding: 10px 30px;
    border-radius: 50px;
    border-radius: 50px;
    border-radius: 50px;
    background: #3d2c6d;
    box-shadow:  20px 20px 60px #34255d,
                -20px -20px 60px #46337d;
    color: rgb(194, 177, 177);
}

.volver:active{
    border-radius: 50px;
    background: #3d2c6d;
    box-shadow:  20px 20px 60px #34255d,
                -20px -20px 60px #46337d;;
}